root@ip-172-31-66-120:~/Docker-Zero-to-Hero/examples/python-web-app# cat Deployment.yml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: sample-app
  labels:
    app: sample-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: sample-app
  template:
    metadata:
      labels:
        app: sample-app
    spec:
      containers:
      - name: python
        image: gauransh09/python-web-app:v1
        volumeMounts:
        - name: gau-secret
          mountPath: "/config/secret"
        - name: gau-config
          mountPath: "/config/configmap"


        ports:
        - containerPort: 8000

      volumes:
      - name: gau-config
        configMap:
          name: test-config
      - name: gau-secret
        secret:
          secretName: test-secret
